@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@theme {
  --color-primario: #BF9D6D;
  --color-negro: #0D0D11;

  --animate-bounce-pulse: bounce-pulse 2s ease-in-out infinite;
}


@keyframes bounce-pulse {
  0% {
    transform: translateY(0);
    scale: 0.8;
  }
  50% {
    transform: translateY(-2px);
    scale: 1;
  }
  100% {
    transform: translateY(0);
    scale: 0.8;
  }
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Degular', sans-serif;
    scroll-padding-top: 112px;
}

h1 {
  letter-spacing: 6px;
}

h2 {
  letter-spacing: 4px;
}

h3 {
  letter-spacing: 2px;
}

p {
  letter-spacing: 0.8px;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-primario) transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.hover-degrade {
  position: relative;
  background: var(--color-primario);
  color: var(--color-negro) !important;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.hover-degrade * {
  position: relative;
  z-index: 3;
}

.hover-degrade::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, transparent 0%, #D4B88A 100%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 2;
  }

.hover-degrade:hover {
  transform: translateY(-2px);
  }

.hover-degrade:hover::after {
  opacity: 0.6;
}