@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@theme {
  --color-primario: #BF9D6D;
  --color-negro: #0D0D11;

  --animate-bounce-pulse: bounce-pulse 2s ease-in-out infinite;
}

@keyframes bounce-pulse {
  0% {
    transform: translateY(0);
    scale: 0.8;
  }
  50% {
    transform: translateY(-2px);
    scale: 1;
  }
  100% {
    transform: translateY(0);
    scale: 0.8;
  }
}

@font-face {
  font-family: 'DegularDemo';
  src: url('/fonts/DegularDemo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'DegularDemo', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
}