@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@theme {
  --color-primario: #BF9D6D;
  --color-negro: #0D0D11;
  --color-accent-from: #BF9D6D;
  --color-accent-to: #D4B88A;

  --animate-bounce-pulse: bounce-pulse 2s ease-in-out infinite;
}


@keyframes bounce-pulse {
  0% {
    transform: translateY(0);
    scale: 0.8;
  }
  50% {
    transform: translateY(-2px);
    scale: 1;
  }
  100% {
    transform: translateY(0);
    scale: 0.8;
  }
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Degular', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 112px;
}

h1 {
  letter-spacing: 6px;
}

h2 {
  letter-spacing: 4px;
}

p {
  letter-spacing: 0.8px;
}