---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/sections/Hero.astro';
import SobreMi from '@/sections/SobreMi.astro';
import Trabajos from '@/sections/Trabajos.astro';
import Footer from '@/components/Footer.astro';
---

<Layout 
	title="BJM"
	description="Soy un diseñador gráfico freelance de Buenos Aires, Argentina. A lo largo de mi carrera he trabajado con diversos clientes, creando soluciones visuales que ayudan a transmitir su identidad y mensaje de manera efectiva."
>

    <Header />    
    
    <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">

		<section class="snap-center h-screen section">
			<Hero />
		</section>

		<section class="snap-center h-screen section">
			<SobreMi />
		</section>

        <section class="snap-center h-screen section">
			<Trabajos />
		</section>

		<section class="snap-center h-screen section">
			<Footer />
		</section>

    </main>

</Layout>