---
import Layout from '../layouts/Layout.astro';
import Logofolio from '@/sections/Logofolio.astro';
---

<Layout 
    title="BJM - Logofolio"
	description="Explora mi logofolio, una colección de identidades visuales y diseños de logotipos que reflejan la esencia de diversas marcas. Cada proyecto destaca mi enfoque creativo y atención al detalle en el diseño gráfico."
>

    <main>

        <Logofolio />

    </main>

</Layout>