---
import Layout from '../layouts/Layout.astro';
import SocialMedia from '@/sections/SocialMedia.astro';
---

<Layout 
    title="BJM - Social Media"
	description=""
>

    <main>

        <SocialMedia />

    </main>

</Layout>