<footer>

    <div class="bg-negro py-6 px-20 flex gap-6 items-center justify-center">

        <p class="text-white text-center">© 2025 BJM</p>
        <p class="text-white text-center">bjmdesignsok@gmail.com</p>

    </div>

</footer>