<section class="h-[calc(100vh-128px)] flex items-center hero-pattern">

    <div class="flex flex-col items-start justify-center px-20 gap-8">

        <h1 class="uppercase text-[200px] font-bold italic text-left text-primario max-w-4xl leading-40">Start to Succed</h1>

        <p class="text-white text-2xl mt-7">This is where your success begins.</p>

    </div>

    <footer class="absolute bottom-2 left-1/2 transform -translate-x-1/2 flex flex-col items-center gap-1">

        <p class="text-white">Want to see some of my work?</p>

        <a href="#trabajos">
            <img src="/arrow.svg" alt="Flecha mirando abajo" class="size-10 animate-bounce-pulse"/>  
        </a>
        
    </footer>
    

</section>

<style>
	.hero-pattern::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('/pattern2.png');
		background-repeat: repeat;
		opacity: 0.3;
		pointer-events: none;
		z-index: 1;
	}
	.hero-pattern {
        background-color: var(--color-negro);
		position: relative;
	}
	
	.hero-pattern > * {
		z-index: 2;
	}
</style>