<section id="logofolio" class="h-[calc(100vh-112px)]">

    <div class="flex flex-col items-start px-20 gap-20 h-full">

        <h1 class="uppercase text-8xl font-bold italic text-left text-primario max-w-4xl leading-40">Logofolio</h1>

        <div class="flex items-start gap-70 w-full">

            <p class="text-negro text-4xl max-w-xl shrink-0">A lo largo de mi trayectoria, he desarrollado una amplia variedad de logotipos para diversos rubros, que van desde equipos de eSports y fútbol amateur hasta proyectos empresariales, cada uno con su propia impronta y propósito.</p>

            <div class="grid grid-cols-3 gap-12 items-center grow p-8">
                
                    <img src="/4x.svg" alt="4X Logo" class="w-32 h-32 object-contain"/>
                    <img src="/ardillafc.svg" alt="Ardilla FC Logo" class="w-32 h-32 object-contain"/>
                    <img src="/cottetcelulares.svg" alt="Cottet Celulares Logo" class="w-32 h-32 object-contain"/>
                    <img src="/elefante.svg" alt="Elefante Logo" class="w-32 h-32 object-contain"/>
                    <img src="/logochury.svg" alt="Logo BJM" class="w-32 h-32 object-contain"/>
                    <img src="/formula4.svg" alt="Formula 4 Logo" class="w-32 h-32 object-contain"/>
                    <img src="/hydro.svg" alt="Hydro Logo" class="w-32 h-32 object-contain"/>
                    <img src="/liga-del-west.svg" alt="Liga del West Logo" class="w-32 h-32 object-contain"/>
                    <img src="/vcorta.svg" alt="V Corta Logo" class="w-32 h-32 object-contain"/>

            </div>            
        </div>


    </div>

</section>