<section id="about-me" class="h-[calc(100vh-112px)]">

    <div class="flex flex-col items-start justify-center px-20 h-full">

        <div class="flex items-start gap-20">
        
            <img src="/fotochury.jpg" alt="" class="object-cover object-top w-112 h-110 rounded-lg" />

            <div class="flex flex-col items-start max-w-4xl">

                <h1 class="uppercase text-[90px] font-bold italic text-left text-primario -mt-8">Sobre BJM Designs</h1>

                <p class="text-xl text-balance text-white max-w-3xl">

                    Soy un diseñador gráfico freelance de Buenos Aires, Argentina. 
                    A lo largo de mi carrera he trabajado con diversos
                    clientes, creando soluciones visuales que ayudan a transmitir su
                    identidad y mensaje de manera efectiva.
                    Mi pasión por el Diseño me ha llevado a desarrollar un enfoque
                    versátil que abarca desde la creación de logotipos, indumentaria
                    deportiva, hasta la gestión de redes sociales, edición de fotos y
                    videos.
                    Trabajo en estrecha colaboración con mis clientes para entender
                    sus necesidades y brindar ideas frescas que se adapten a su
                    estilo y objetivos. 
                    Mi estilo se caracteriza por un equilibrio entre
                    lo formal y lo creativo, buscando siempre que el diseño no solo
                    cumpla su función, sino que también sea atractivo y único.
                </p>

                <div class="flex items-center gap-8 mt-8">

                    <div class="px-12 py-4 bg-negro border border-primario rounded-lg flex flex-col items-center justify-center text-center text-white">

                        <p class="text-xl">DESDE</p>
                        <h2 class="text-5xl font-bold">2020</h2>

                    </div>

                    <div class="px-12 py-4 bg-negro border border-primario rounded-lg flex flex-col items-center justify-center text-center text-white text-nowrap">

                        <p class="text-xl">PROYECTOS COMPLETADOS</p>
                        <h2 class="text-5xl font-bold">+300</h2>

                    </div>

                    <div class="px-12 py-4 bg-negro border border-primario rounded-lg flex flex-col items-center justify-center text-center text-white text-nowrap">

                        <p class="text-xl">CLIENTES FELICES</p>
                        <h2 class="text-5xl font-bold">+1</h2>

                    </div>
                    
                </div>

            </div>

        </div>

    </div>

</section>