<section id="inicio" class="h-[calc(100vh-112px)] flex items-center">

    <div class="flex flex-col items-start justify-center px-20 gap-8">

        <h1 class="uppercase text-[200px] font-bold italic text-left text-primario max-w-4xl leading-40">Start to Succed</h1>

        <p class="text-white text-2xl mt-7">This is where your success begins.</p>

    </div>

    <footer class="absolute bottom-2 left-1/2 transform -translate-x-1/2 flex flex-col items-center gap-1">

        <p class="text-white">Want to know more about me?</p>

        <a href="#sobre-mi">
            <img src="/arrow.svg" alt="Flecha mirando abajo" class="size-10 animate-bounce-pulse"/>  
        </a>
        
    </footer>

</section>