<section id="sobre-mi" class="section h-full">

    <div class="flex flex-col items-center justify-center px-20 h-full pt-28">

        <div class="flex items-start">
            
            <div class="flex items-start gap-20">

                <img src="/fotochury.jpg" alt="" class="object-cover object-center w-90 h-85 rounded-lg" />

                <div class="flex flex-col items-start max-w-4xl gap-10.5">

                    <p class="text-xl text-balance text-white max-w-4xl">
                        Soy un diseñador gráfico freelance de Buenos Aires, Argentina. 
                        A lo largo de mi carrera he trabajado con diversos
                        clientes, creando soluciones visuales que ayudan a transmitir su
                        identidad y mensaje de manera efectiva.
                        Mi estilo se caracteriza por un equilibrio entre
                        lo formal y lo creativo, buscando siempre que el diseño no solo
                        cumpla su función, sino que también sea atractivo y único.
                    </p>
                    
                    <div class="flex gap-8 w-full max-w-3xl">

                        <div class="px-12 py-4 bg-negro border border-primario rounded-lg flex flex-col items-center justify-center text-white text-center min-w-0">
                                
                            <h2 class="font-bold text-4xl text-nowrap">+5 años</h2>
                            <p class="text-sm text-primario">De experiencia</p>

                        </div>
                            
                        <div class="px-12 py-4 bg-negro border border-primario rounded-lg flex flex-col items-center justify-center text-white text-center min-w-0">
                                
                            <h2 class="font-bold text-4xl">+30</h2>
                            <p class="text-sm text-primario">Identidades</p>

                        </div>
                            
                        <div class="px-12 py-4 bg-negro border border-primario rounded-lg flex flex-col items-center justify-center text-white text-center min-w-0">

                            <h2 class="font-bold text-4xl">+150</h2>
                            <p class="text-sm text-primario">Proyectos</p>

                        </div>
                            
                        <div class="px-12 py-4 bg-negro border border-primario rounded-lg flex flex-col items-center justify-center text-white text-center min-w-0">

                            <h2 class="font-bold text-4xl">+15</h2>
                            <p class="text-sm text-primario">Marcas</p>

                        </div>
                        
                    </div>

                    <div class="flex gap-8">

                        <a href="https://www.instagram.com/bjm.dg" target="_blank" rel="noopener noreferrer" class="text-xl font-bold px-6 py-3 rounded-xl text-negro hover-degrade transition-all duration-300 flex items-center gap-5 group">
                            <span>Contactame</span>
                            <svg class="w-5 h-5 transform transition-transform duration-300 group-hover:translate-x-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                            </svg>
                        </a>

                        <a href="#proyectos" class="text-xl font-bold px-6 py-3 rounded-xl text-negro hover-degrade transition-all duration-300 flex items-center gap-5 group">
                            <span>Proyectos</span>
                            <svg class="w-5 h-5 transform transition-transform duration-300 group-hover:translate-x-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                            </svg>
                        </a>     

                    </div>

                </div>   
                         
            </div>

        </div>

    </div>

</section>

<style is:global>
	html::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('/pattern.png');
		background-repeat: repeat;
		pointer-events: none;
		z-index: -1;
	}
	
	body {
		margin: 0;
		padding: 0;
		width: 100%;
	}
</style>