<section id="proyectos" class="section h-full flex">

    <div class="flex flex-col items-start justify-center px-20 h-full w-full pt-28 gap-8">

        <div class="flex flex-col justify-center gap-2">

            <h1 class="uppercase text-[120px] font-bold italic text-left text-primario">Mis proyectos</h1>

            <p class="text-white text-xl max-w-2xl">
                Me gusta pensar cada proyecto como una oportunidad para contar algo distinto. 
                Desde el diseño de una marca hasta la creación de contenido, mi objetivo siempre es el mismo: lograr algo que se vea bien y comunique mejor.
            </p>

        </div>

        <div class="flex w-full justify-between mt-12 mb-12">

            <div class="overflow-hidden transition-all duration-300 max-w-md">
                    
                <div class="relative">
                    <img src="/portprueba.jpg" alt="Proyecto ejemplo" class="w-full h-48 rounded-t-xl object-cover">
                    <div class="absolute inset-0 bg-gradient-to-t from-negro/70 to-transparent"></div>
                </div>
                    
                <div class="p-6 border-b border-r border-l border-primario bg-negro rounded-b-xl">
                    <h3 class="text-primario font-bold text-2xl mb-2">Camisetas</h3>

                    <div class="flex gap-4 items-center justify-between">
                        <p class="text-white text-md flex-1">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.    
                        </p>
                            
                        <a href="#proyectos" target="_blank" class="w-10 h-10 rounded-xl text-negro hover-degrade transition-all duration-300 flex items-center justify-center flex-shrink-0">
                            <svg class="w-5 h-5 transform transition-transform duration-300 group-hover:translate-x-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                            </svg>
                        </a>                          
                    </div>

                </div>

            </div>

            <div class="overflow-hidden transition-all duration-300 max-w-md">
                    
                <div class="relative">
                    <img src="/portprueba.jpg" alt="Proyecto ejemplo" class="w-full  h-48 rounded-t-xl object-cover">
                    <div class="absolute inset-0 bg-gradient-to-t from-negro/70 to-transparent"></div>
                </div>
                    
                <div class="p-6 border-b border-r border-l border-primario bg-negro rounded-b-xl">
                    <h3 class="text-primario font-bold text-2xl mb-2">Logofolio</h3>

                    <div class="flex gap-4 items-center justify-between">
                        <p class="text-white text-md flex-1">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                            
                        <a href="/logosPage" target="_blank" class="w-10 h-10 rounded-xl text-negro hover-degrade transition-all duration-300 flex items-center justify-center flex-shrink-0">
                            <svg class="w-5 h-5 transform transition-transform duration-300 group-hover:translate-x-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                                </svg>
                        </a>                          
                    </div>

                </div>

            </div>

            <div class="overflow-hidden transition-all duration-300 max-w-md">
                    
                <div class="relative">
                    <img src="/portprueba.jpg" alt="Proyecto ejemplo" class="w-full  h-48 rounded-t-xl object-cover">
                    <div class="absolute inset-0 bg-gradient-to-t from-negro to-transparent"></div>
                </div>
                    
                <div class="p-6 border-b border-r border-l border-primario bg-negro rounded-b-xl">
                    <h3 class="text-primario font-bold text-2xl mb-2">Social Media</h3>

                    <div class="flex gap-4 items-center justify-between">
                        <p class="text-white text-md flex-1">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                            
                        <a href="/socialMediaPage" target="_blank" class="w-10 h-10 rounded-xl text-negro hover-degrade transition-all duration-300 flex items-center justify-center flex-shrink-0">
                            <svg class="w-5 h-5 transform transition-transform duration-300 group-hover:translate-x-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                            </svg>
                        </a>                          
                    </div>

                </div>

            </div>         
            
        </div>

    </div>

</section>