---
import '../styles/global.css';
import Header from '../components/Header.astro';
---

<!doctype html>

<html lang="es">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>BJM - Portfolio</title>
	</head>

	<body>

		<Header />

		<slot />
	</body>

</html>

<style is:global>
	body {
		margin: 0;
		padding: 0;
		width: 100%;
	}
</style>